<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=5, minimum-scale=1, width=device-width">
        <meta name="format-detection" content="telephone=yes">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="twitter:card"          content="summary">
        <meta name="twitter:site"          content="@neluttu">
        <meta name="twitter:creator"       content="@neluttu">
        <meta name="twitter:image"         content="https://www.nelutu.ro/template/images/twt_og.jpg">
        <meta property="og:url"            content="https://www.nelutu.ro/">
		<meta property="og:locale" 		   content="ro_RO">
        <meta property="og:type"           content="website">
		<meta property="og:site_name"      content="Ionel Olariu #fullstack #webdev - personal portfolio">
        <meta property="og:title"          content="Personal portfolio website - #fullstack #webdev">
        <meta property="og:description"    content="Web design and web development portfolio">
        <meta property="og:image"          content="https://www.nelutu.ro/template/images/fb_og.jpg">
        <meta name="REVISIT-AFTER" content="1 DAYS">
        <meta name="COPYRIGHT" content="Ionel Olariu">
        <meta name="robots" content="index,follow">
        <meta name="googlebot" content="index,follow">
        <meta name="description" content="Web design and web development portfolio">
        <meta name="keywords" content="fullstack, web development, css, html, php, mysql, javascript, jquery ubuntu, windows, macos, photoshop, vscode, total commander, ftp, ssh, vpn, samba, lamp stack, .htaccess, tld registrations, web hosting, cpanel, firefox, chrome, safari, tl browser, brave, edge, ios, pc hardware">
        <title>Ionel Olariu #fullstack #webdev - personal portfolio</title>
        <link href="template/css/beauter.css" rel="stylesheet" media="all">
        <script src="template/js/beauter.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link href="template/css/styles.css" rel="stylesheet" media="all">
        <script src="template/js/inView.js"></script>
    </head>
    <body>
 