<div class="row project" id="[-ID-]">
    <div class="col m7">
        <span style="font-weight: 500; color: #fd5000;">[-TITLE-]</span><br>
        <span style="font-size:16px; font-weight: 500; color: #666;">[-DESCRIPTION-]</span>
    </div>
    <div class="col m5">
        <span style="font-weight: 500; color: #700000;">Used stack</span><br>
        [-STACK-]
    </div>
    <div class="col m12">
        <img src="template/images/projects/[-IMAGE-]" loading="lazy" alt="[-TITLE-]" style="border:1px solid white">
        <hr>
    </div>
</div>